<div class="card mt-4">
  <div class="card-header"> {{accion}} Usuario</div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <em
            class               = "fas fa-user"
            [class.green-icon]  = "this.form.get('nombre')?.valid"
            [class.red-icon]    = "this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched"
          ></em>
        </span>
        <input
          formControlName   = "nombre"
          type              = "text"
          class             = "form-control"
          placeholder       = "Nombre"
        />
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <em
            class               = "fa fa-users"
            [class.green-icon]  = "this.form.get('id_rol')?.valid"
            [class.red-icon]    = " this.form.get('id_rol')?.invalid && this.form.get('id_rol')?.touched"
          ></em>
        </span>
        <select
          id            = "id_rol"
          class         = "form-control"
          formControlName= "id_rol"
          required
        >
          <option *ngFor="let rol of roles" [value]="rol.id">
            {{ rol.nombre }}
          </option>
        </select>
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          Activo:
        </span>
        <div class="form-control">
            <input formControlName="activo" class="form-check-input" type="radio" name="activo" id="flexRadioDefault1" [value]="true" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                &nbsp; Si
            </label>
          </div>
          <div class="form-control">
            <input formControlName="activo" class="form-check-input" type="radio" name="activo" id="flexRadioDefault2" [value]="false">
            <label class="form-check-label" for="flexRadioDefault2">
                &nbsp; No
            </label>
          </div>
      </div>
      <button
        type        = "submit"
        [disabled]  = "this.form.invalid"
        class       = "btn btn-primary"
      >
        Guardar
      </button>
      <em> &nbsp; </em>
      <button
        type    = "button"
        class   = "btn btn-secondary"
        (click) = "cancelar()"
      >
        Cancelar
      </button>
    </form>
  </div>
</div>
